{{ $seed := "foo" }}
{{ $id := delimit (shuffle (split (md5 $seed) "" )) "" }}

<div style="width:100%;">
<div id="{{ $id }}"></div>
</div>

<script>
function main() {
  let users = [
    {id: '30223008', name: "Nila Prasetya Aryani", osf:'keh9y'},
    {id: '30222003', name: "Setiya Rahayu", osf:'bkcpe'},
    {id: '28720005', name: "Achmad Zacky Fairuza", osf:'47cbs'},
    {id: '20922327', name: "Dyah Puspita Sari Nilam Utami", osf:'6mgkc'},
    {id: '20922324', name: "Listyani Nirmalasari", osf:'fbezq'},
    {id: '20922313', name: "Akhmad Faeda Insani", osf:'jkt5w'},
    {id: '20922308', name: "Muhammad Ghafur Abdulah Winata Santana", osf:'s6kym'},
    {id: '20922307', name: "Ahmad Mushawir", osf:'3x67v'},
    {id: '20922009', name: "Muh. Afdal Abidin", osf:'dmc43'},
    {id: '10220051', name: "Ermas Hidayati", osf:'vurze'},
    {id: '10220037', name: "Berlian Oka Irvianto", osf:'7me89'},
    {id: '10220035', name: "Ahmad Rinaldi Arbie", osf:'swczh'},
    {id: '10220029', name: "Jesse Owen", osf:'mdrhs'},
    {id: '10220022', name: "Angeli Fransiska Njo", osf:'ze6wn'},
    {id: '10220011', name: "Bernard Sujono", osf:'4a6zy'},
    {id: '10220005', name: "Muhammad Ihsan", osf:'h9ytb'},
    {id: '10219077', name: "Dwita Gurning", osf:'4ae5h'},
    {id: '10216104', name: "Nadhira Azzahra Hendra", osf:'8b23r'},
  ]
  let div = document.getElementById("{{ $id }}");
  
  let n = users.length;
  let text = "";
  for(let u of users) {
    n--;
    let url = "https://osf.io/" + u.osf;
    let t = "<a style='font-family:Consolas;' href='" + url +"'>" + u.osf + "</a>";
    t += "<span style='color:#faa; font-size:80%; font-family:Consolas;'>:</span>";
    t += "<span style='font-family:Consolas; color:#6b6; font-size:90%'>" + u.id + "</span>";
    t += " ";
    t += "<span>" + u.name + "</span>";
    text += t;
    
    console.log(n);
    if(n > 0) text += " &bull; "; else text += "";
  }
  div.innerHTML = text;
}

main();
</script>
